<html>

<head>
  <title>Contact Us</title>
  
</head>
<body>
	<section class="contact">
		<div class="content">
      <h2>Contact Us</h2>
      <br>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit dolore eum quis qui autem cumque. Culpa
				consequuntur suscipit tenetur fugiat? Nulla ducimus maiores iste necessitatibus laborum numquam itaque
				cum distinction!</p>
		</div>
		<div class="container">
			<div class="contactInfo">
				<div class="box">
					<div class="icon"></div>
					<div class="text">
						<h3>Address</h3>
						<p>9641 Sugar Cam Road,<br>Owatonna,Minnesota,<br>55060</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"></div>
					<div class="text">
						<h3>Phone</h3>
						<p>507-475-6094</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"></div>
					<div class="text">
						<h3>Email</h3>
						<p>abconxyz@temporary-mail.com</p>
					</div>
				</div>
      </div>
      <div class="contactForm">
        <form>
        <h2>Send Message</h2>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Full Name</span>
        </div>        
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Email</span>
        </div>
        <div class="inputBox">
          <textarea required="required"></textarea>
          <span>Type your Message...</span>
        </div>
        <div class="inputBox">
          <input type="submit" name="" value="Send">
        </div>
      </form>
      </div>
		</div>
	</section>
</body>

</html>