<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<form action="/action_page.php">
  <div class="container">
    <h1>Login</h1>
    <hr>
    <br><b>Email  :</b>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>
    <br><b>Password  :</b>
   <b> <input type="password" placeholder="Enter Password" name="psw" id="psw" required></b>
  <br><button type="submit" class="registerbtn">Login</button>
  </div>
  
</form>

</body>
</html>